<div ng-controller="ContactFormCtrl">
    <h1>Create a new contact</h1>
    <a ng-href="/app/#!/contacts">Go back</a>
    <form>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text"
                   class="form-control"
                   id="firstName"
                   placeholder="Email"
                   ng-model="m.firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text"
                   class="form-control"
                   id="lastName"
                   placeholder="Password"
                   ng-model="m.lastName">
        </div>
        <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input type="email"
                   class="form-control"
                   id="emailAddress"
                   placeholder="Password"
                   ng-model="m.emailAddress">
        </div>
        <button type="submit" class="btn btn-default" ng-click="submitNewContact()">Submit</button>
    </form>
</div>